################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Valvoline_Admin/config/applicationhost.config
/.vs/Valvoline_Admin/v17
