<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <authentication mode="Forms">
      <forms name="MYWEBAPP.ASPXAUTH" loginUrl="Login.aspx" protection="All" timeout="720" slidingExpiration="true" path="/"/>
    </authentication>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
      </controls>
    </pages>-->
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral,              PublicKeyToken=31bf3856ad364e35"/>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
      </controls>
    </pages>
  </system.web>
  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="User">
    <system.web>
      <authorization>
        <allow roles="user"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <connectionStrings>
    <!--<add name="ApplicationServices" connectionString="Data Source=43.252.91.100;Initial Catalog=Valvoline;User ID=docopd;Password=doc@12345"/>-->
      <add name="ApplicationServices"
           connectionString="Server=.\SQLEXPRESS;Database=Valvoline;Integrated Security=True;"
           providerName="System.Data.SqlClient" />
    <add name="ValvolineConnectionString"
             connectionString="Server=.\SQLEXPRESS;Database=Valvoline;Integrated Security=True;"
             providerName="System.Data.SqlClient" />
    <add name="Atoot_BandhanConnectionString"
         connectionString="Server=.\SQLEXPRESS;Database=Valvoline;Integrated Security=True;"
         providerName="System.Data.SqlClient" />
    <!--<add name="ValvolineConnectionString" connectionString="Data Source=43.252.91.100;Initial Catalog=Valvoline;User ID=docopd;Password=doc@12345"/>-->
    <!--<add name="Atoot_BandhanConnectionString" connectionString="Data Source=43.252.91.100;Initial Catalog=Valvoline;User ID=docopd;Password=doc@12345" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ApplicationServices" connectionString="Data Source=192.168.12.29;Initial Catalog=Atoot_Bandhan;User ID=virinchi;Password=virinchi@123" />
    <add name="ValvolineConnectionString" connectionString="Data Source=192.168.12.29;Initial Catalog=Atoot_Bandhan;User ID=virinchi;Password=virinchi@123" />
    <add name="Atoot_BandhanConnectionString" connectionString="Data Source=192.168.12.29;Initial Catalog=Atoot_Bandhan;User ID=virinchi;Password=virinchi@123"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>